.row
  .col-xs-12
    %h3
      %small=@event.name
      %br
      Manage Guest List
    = form_tag destroy_invites_occasion_events_path(@occasion,:event_id => @event), :method => :put, :html => {:role =>"form"} do |f|
      %p.subheader Click on the guests below that you would like to un-invite.
      %div{:style => 'height:200px;overflow: auto;'}
        %table{style: "width:100%;"}
          - @uninvited.each do |guest|
            %tr
              %td= check_box_tag "guest_ids[]", guest.id
              %td=guest.household_name
      =submit_tag "Save", :class => "button"