<p>Hi everyone,</p>
<p>We're getting really excited about our wedding next month -- and we hope you are, too! To help us prepare for the big day, we'd greatly appreciate it if you could take just a minute to click on the RSVP link below and let us know whether you'll be able to join us.</p>
<p>Looking forward to hearing from you soon!</p>
<p>
  Thanks, <br>
  Rina & Prabhu
</p>
  --------------------------
<p>To reply and confirm whether you'll be attending, click the following customized link:
  <%= link_to "Your Invitation Link", occasion_invitation_rsvp_url(@occasion, @invitation, :guest_info) %>
</p>