%h2.form-h2
  Events
  %small="#{pluralize(@events.count, 'event')}"

- if @events.present?
  - @events.each do |event|
    %h3
      = link_to event.name, occasion_event_path(@occasion,event)
      %span.text-muted= event.description
-else 
  %p.text-center
    You have no events.
    =link_to "Add an event!", new_occasion_event_path(@occasion)