.container
  .panel.panel-default
    %ul.list-group
      %li.list-group-item
        %h2= @event.name
      - if params[:v] == "d"
        = render 'detail_view'
      - else
        = render 'summary_view'