.container
  .well.well-sm
    %ul.list-inline
      %li
        %strong Guest Information
      %li.text-muted Events
      %li.text-muted Confirmation

  %h1 Guest Information

  -if @invitation.invitable_type == "Household"
    = render 'household_guest_form'
  -else
    = render 'guest_guest_form'