.container
  %ul.list-inline
    %li.text-muted 1. Wedding information
    %li
      %small.glyphicon.glyphicon-chevron-right
    %li.text-muted 2. About the couple
    %li
      %small.glyphicon.glyphicon-chevron-right
    %li.text-primary
      %strong 3. Get started!
  
  %h2 Get started
    
  = form_for @user, :url => wizard_path, :method => :put, :html => { :role => "form"} do |f|

    .pull-right
      = f.submit "Next", :class => "btn btn-success btn-lg"