= form_for [@occasion,@invitation], :html => {:role =>"form"} do |f| 
  %ul.list-group
    %li.list-group-item
      %h2 
        Who's coming?
        %small Tell us more about the guests in this party
    %li.list-group-item
      .row
        .col-md-8
          .form-group{class: @invitation.errors.include?(:name) ? 'has-error' : ''}
            - f.label :name, "Invitation Name", class: "control-label"
            - f.text_field :name, placeholder: "Invitation Name", :autofocus => true, :maxlength => 50, class: "form-control"
            - if @invitation.errors.include?(:name)
              %span.help-block=@invitation.errors.get(:name).join('; ')
            - else
              %span.help-block This name is private and won't be shared with the guests.
    
          - f.label :guests, "Guest Names", class: "control-label"
          %small (Guest names can be left blank for guests to fill out)
          #guests  
            - f.fields_for :guests do |guest|
              = render 'invitations/guest_fields', :f => guest
            .links
              = link_to_add_association 'Add another guest', household, :guests, :class => "btn btn-link", :partial => 'invitations/guest_fields'
    %li.list-group-item
      %h2 
        Let's stay in touch.  
        %small Add contact info & notes
    %li.list-group-item
      .row
        .col-md-8
          .form-group
            - f.label :email, class: "control-label"
            - f.text_field :email, :maxlength => 50, class: "form-control"
            %span.help-block You can optionally add an email address.
  
          .form-group
            - f.label :notes, class: "control-label"
            - f.text_area :notes, {:rows => 5, :maxlength => 500, class: "form-control"}
            %span.help-block These notes are private and won't be shared with the guests.
        
          .form-group
            - f.label :tag_list, "Tags (separated by commas)"
            - f.text_field :tag_list, class: "form-control", :placeholder => "Bride, Groom, Tier 1, etc."

.form-group.pull-right
  = f.submit "Next", :class => "btn btn-success btn-lg"