.nested-fields
  .row
    .col-sm-9
      .row
        .col-sm-3
          .form-group
            = f.collection_select(:title,	@title, :name, :name, {:include_blank => true}, {class: "form-control"})
        .col-sm-4
          .form-group
            = f.text_field :first_name, class: "form-control", :placeholder => "First name"
        .col-sm-5
          .form-group
            = f.text_field :last_name, class: "form-control", :placeholder => "Last name"
    .col-sm-3
      .form-group
        = link_to_remove_association "Remove guest", f, :class => "btn btn-danger"