.text-success= invitation.status
= link_to occasion_invitation_manage_path(occasion, invitation, :guest_info), class: "btn btn-default btn-xs" do
  %span.glyphicon.glyphicon-pencil
= link_to occasion_invitation_path(occasion, invitation), method: :delete, class: "btn btn-danger btn-xs" do
  %span.glyphicon.glyphicon-trash