- response.each do |guests|
  - if type == "attending"
    %span.text-success= guests.guest.full_name
    %br
  - elsif type == "not_attending"
    %span.text-danger= guests.guest.full_name
    %br
  - else type == "not_responded"
    %span= guests.guest.full_name
    %br