%ol.breadcrumb
  %li=link_to @occasion.name, @occasion
  %li.active Invitations
  
.row
  .col-xs-7
    .panel.panel-default
      .panel-heading
        %h3.panel-title.panel-page-title Edit Invitation
      .panel-body
        = render 'form'
        
        %hr
        
        %fieldset.form-section
          %h4 Delete invitation
          %p 
            Want to cancel this invitation?  Go ahead and
            = link_to "delete it.", [@occasion,@invitation], method: :delete