.content-full
  .content-nav
    %ul.list-inline
      %li=@occasion.name
      %li 
        %strong Invitations
  .content-header
    %h1="Edit <strong>#{@guest.household_name}</strong>'s invitation".html_safe
      
  .content-body
    .row
      .small-7.columns
        = render 'form'

