.content-full
  .content-nav
    %ol.breadcrumb
      %li=link_to @occasion.name, @occasion
      %li.active Invitations
  .content-header
    %h1 Create invitation
      
  .content-body
    .row
      .col-xs-7
        = render 'form'