.container
  %ul.list-inline
    %li.text-primary
      %strong 1. Guest Information
    %li
      %small.glyphicon.glyphicon-chevron-right
    %li 2. Events
    %li
      %small.glyphicon.glyphicon-chevron-right
    %li 3. RSVP
  
  %h2 Guest Information
  = render 'form'
    