.content-full
  %h1 
    Create an Invitation
    %br
    %small Choose a guest, select the events they are invited to, and fill in the invitation details.
  .row
    .small-7.columns
      = render 'form'