%tr
  %td{height: "30"} Name
  %td{width: "15"}
  %td{colspan: "2"}
    = f.text_field :title, :maxlength => 5, :placeholder => "Title"
    = f.text_field :first_name, :maxlength => 20, :placeholder => "First Name"
    = f.text_field :last_name, :maxlength => 25, :placeholder => "Last Name"
    