.content-full
  %h1 About us

  .row
    .col-xs-8
      %p 
        On September 9th, 2012, Hetal and I got engaged.  We wanted to have the techiest wedding possible considering everything from having a
        =link_to "holographic", "http://www.youtube.com/watch?v=TGbrFmPBV0Y", target: "_blank"
        representation of us to take pictures to riding into the 
        =link_to "wedding on a segway.", "http://www.youtube.com/watch?v=_RfkC2wexjo", target: "_blank"
      %p
        Although we did neither of those, we did do something special around creating a custom itinerary for everyone in the wedding.  After evaluating many wedding sites and online card companies (and excel templates), none had an RSVP system that would remind our guests, keep their contact information, and create special invitations to each event on one occasion site.  So we 
        =link_to "built our own", "http://www.hetalandrhut.com/", target: "_blank"
        and after having many interested friends and family members, I decided to release it to the public.
      %p     
        This is the alpha version of the rsvp site, so please give ample feedback and potential features for us to build out.  We hope it makes your wedding much easier to plan!
    .col-xs-4
      =image_tag "https://scontent-b-pao.xx.fbcdn.net/hphotos-prn2/1146646_10100436714143164_1026272536_n.jpg", width: "100%", height: "100%", class: "thumbnail"

  .row
    .col-xs-12
      If you have any questions, please do not hesitate to email us at
      =link_to "rhut@rsvpgenius.com.", "mailto:rhut@rsvpgenius.com", target: "_blank"