.container  
  - unless user_signed_in?
    .row
      .col-xs-12
        .pull-right
          .form-group
            = link_to "Sign in", new_user_session_path, class: "btn btn-default"

.jumbotron.text-center
  .container
    %h1 Invitedly
    %p
      Let us manage your guestlist.
    = link_to "Sign up now", new_user_registration_path, class: "btn btn-lg btn-primary"
    %br
    %small Free for a limited time.
.container
  .row
    .col-sm-4
      %h2 Custom RSVP page
      %p You will have your own unique wedding page where guests can RSVP using email or the first and last name.
    .col-sm-4
      %h2 Unlimited events and guests
      %p No size restrictions!  Invite however many people you want to however many events you want.  And you only need to create a single invitation.
    .col-sm-4
      %h2 One invitation per person or family
      %p Allow guests to RSVP on behalf of their family.