%h1.text-center Welcome to Invitedly!
%p.lead.text-center Invitedly hopes to streamline guest management for events.

%p.lead.text-center Our home page is a work in progress so please bear with us :)
-#.row
  .medium-10.medium-centered.columns
    

        
  / START THE FEATURETTES
  %hr.featurette-divider/
  .row.featurette
    .columns.small-offset-1.small-6
      %h2.featurette-heading
        First featurette heading.
        %span.text-muted It'll blow your mind.
      %p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
    .columns.small-4
      %img.featurette-image.img-responsive{alt: "Generic placeholder image", "data-src" => "holder.js/500x500/auto"}/
  %hr.featurette-divider/
  .row.featurette
    .columns.small-4
      %img.featurette-image.img-responsive{alt: "Generic placeholder image", "data-src" => "holder.js/500x500/auto"}/
    .columns.small-6
      %h2.featurette-heading
        Oh yeah, it's that good.
        %span.text-muted See for yourself.
      %p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
  %hr.featurette-divider/
  .row.featurette
    .columns.small-offset-1.small-6
      %h2.featurette-heading
        And lastly, this one.
        %span.text-muted Checkmate.
      %p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
    .columns.small-4
      %img.featurette-image.img-responsive{alt: "Generic placeholder image", "data-src" => "holder.js/500x500/auto"}/
  %hr.featurette-divider/