%h1
  Privacy Statement
  %small Updated January 1, 2014

.row
  .columns.small-12
    %h2 About Invitedly

    %p Invitedly is a site site that simplifies the invitation process for multi-event occasions.
    %p To enrich our members' experience, we request and display some personal information to other members and visitors, which allows our users to identify and contact each other. Invitedly members can change their profile information at any time.

    %p 
      Invitedly cares deeply about online privacy If you have any questions concerning this privacy policy, please email us at
      =link_to "privacy@invitedly.com", "mailto:privacy@invitedly.com"

    %h2 Information Collection and Use by Invitedly

    %p Invitedly collects user submitted information such as name, email address, and age to authenticate users and to send notifications to those users relating to the Invitedly service. Invitedly also collects other profile data including but not limited to: research interests, gender, age, education and occupation in order to assist users in finding and communicating with each other.

    %p Invitedly also logs non-personally-identifiable information including IP address, profile information, aggregate user data, and browser type, from users and visitors to the site This data is used to manage the website, track usage and improve the website services. This non-personally-identifiable information may be shared with third-parties to provide more relevant services and advertisements to members. User IP addresses are recorded for security and monitoring purposes

    %p User Profile information including members' pictures and names are displayed to people in order to facilitate user interaction in the Invitedly social networking community. Email addresses are used for the purposes of inviting new friends to join Invitedly, to add users to members' friends' networks, and to send notifications related to the service.

    %p We may also use a user's email address to send updates, a newsletter or news regarding the service.

    %p From time to time, Invitedly or a partner, may sponsor a promotion, sweepstake or contest on Invitedly. Users may be asked to provide personal information including name, email address or home address or to answer questions in order to participate. We may transfer personal information to certain ad partners that you have explicitly requested to receive information from. It will be clear at the point of collection who is collecting the personal information and whose privacy statement will apply.
    
    %h2 Invitations and Other Communications to Non-members

    %p Invitedly members can invite friends to join the service by sending invitation emails via our automated invitation system. Invitedly stores the email addresses that members provide so that the respondents may be added to the colleagues list of the member sending the invitations, and also to send reminders of the invitations. Invitedly does not sell these email addresses or use them to send any other communication besides invitations, invitation reminders (up to three (3) per email address). Recipients of invitations from Invitedly may contact Invitedly to request the removal of their information from our database.

    %h2 Use of Cookies

    %p Invitedly uses cookies to store visitors' preferences and to record session information, for purposes including ensuring that visitors are not repeatedly offered the same advertisements and to customize newsletter, advertising, and Web page content based on browser type and user profile information. We do not link the information we store in cookies to any personally identifiable information you submit while on our site. You may be able to configure your browser to accept or reject all or some cookies, or notify you when a cookie is set -- each browser is different, so check the "Help" menu of your browser to learn how to change your cookie preferences -- however, you must enable cookies from Invitedly in order to use most functions on the site. Please note that Invitedly allows 3rd party advertisers that are presenting advertisements on some of our pages to set and access their cookies on your computer. Advertisers' use of cookies is subject to their own privacy policies, not the Invitedly Privacy Policy.

    %h2 Links

    %p Invitedly contains links to sites. Invitedly is not responsible for the privacy policies and/or practices on other sites. When linking to another site a user should read the privacy policy stated on that site. Our privacy policy only governs information collected on Invitedly.

    %h2 Correcting/Updating or Removing Information

    %p Invitedly users may modify or remove any of their personal information at any time by logging into their account and accessing features such as Edit Profile and Account Info.

    %h2 Third Party Advertising

    %p Ads appearing on this Web site may be delivered to users by Invitedly or one of our Web advertising partners. Our Web advertising partners may set cookies. These cookies allow the ad server to recognize your computer each time they send you an online advertisement. In this way, ad servers may compile information about where you, or others who are using your computer, saw their advertisements and determine which ads are clicked on. This information allows an ad network to deliver targeted advertisements that they believe will be of most interest to you. This privacy statement covers the use of cookies by Invitedly and does not cover the use of cookies by any advertisers.

    %h2 Security

    %p 
      Invitedly member accounts are secured by member-created passwords. Invitedly takes precautions to insure that member account information is kept private. We use reasonable measures to protect member information that is stored within our database, and we restrict access to member information to those employees who need access to perform their job functions, such as our customer service personnel and technical staff. Please note that we cannot guarantee the security of member account information. Unauthorized entry or use, hardware or software failure, and other factors may compromise the security of member information at any time For any additional information about the security measures we use on Invitedly, please contact us at 
      =link_to "privacy@invitedly.com", "mailto:privacy@invitedly.com"

    %h2 Sharing and Disclosure of Information Invitedly Collects

    %p Except as otherwise described in this privacy statement, Invitedly will not disclose personal information to any third party unless we believe that disclosure is necessary: (1) to conform to legal requirements or to respond to a subpoena, search warrant or other legal process received by Invitedly, whether or not a response is required by applicable law; (2) to enforce the Invitedly Terms of Use Agreement or to protect our rights; or (3) to protect the safety of members of the public and users of the service. Invitedly reserves the right to transfer personal information to a successor in interest that acquires rights to that information as a result of the sale of Invitedly or substantially all of its assets to that successor in interest For more information see the "Changes in Our Privacy Policy" section below.

    %h2 Changes in Our Privacy Policy

    %p Your use of Invitedly, and any disputes arising from it, is subject to this Privacy Policy as well as our Terms of Use and all of its dispute resolution provisions including arbitration, limitation on damages and choice of law. We reserve the right to change our Privacy Policy and our Terms of Use at any time. Non-material changes and clarifications will take effect immediately, and material changes will take effect within 30 days of their posting on this site. If we make changes, we will post them and will indicate at the top of this page the policy's new effective date. If we make material changes to this policy, we will notify you here, by email, or through notice on our home page. We encourage you to refer to this policy on an ongoing basis so that you understand our current privacy policy. Unless stated otherwise, our current privacy policy applies to all information that we have about you and your account.

    %h2 Contacting the Web Site

    %p 
      If you have any questions about this privacy statement, the practices of this site, or your dealings with this Web site, please contact us at: 
      =link_to "privacy@invitedly.com", "mailto:privacy@invitedly.com"