.container
  %ul.list-inline
    %li.text-primary
      %strong 1. Guest Information
    %li
      %small.glyphicon.glyphicon-chevron-right
    %li 2. RSVP
  
  %h2 Guest Information
  = form_for [@occasion,@invitation], :url => wizard_path, :method => :put, :html => {:role =>"form"} do |f|  
    = render "invitations/form", :f => f