

body {background-color:#EAF3FC;}

.jumbotron {
  border-top:1px solid rgba(0,0,0,.3);
  box-shadow: 0 3px 4px rgba(0,0,0,.1);-moz-box-shadow: 0 3px 4px rgba(0,0,0,.1);-webkit-box-shadow: 0 3px 4px rgba(0,0,0,.1);
  border-radius:0px;
  border-bottom:1px solid rgba(0,0,0,.3);
  background-color: #fff;
}
/*
small {
  color: #A0A0A0;
}

.alert {
  border-radius:0px;
}

#main {
  margin-top:20px;
}

.stickyHeader {
  background:white;
}

*/