.row
  .small-12.columns
    %h2
      Events
      %small="#{pluralize(@events.count, 'event')}"

    - if @events.present?
      - @events.each do |event|
        %p
          %h4
            = link_to event.name, occasion_event_path(@occasion,event)
            %br
            %small.subheader= event.description
    -else 
      %p.text-center
        You have no events.
        =link_to "Add an event!", new_occasion_event_path(@occasion)