.row
  .small-12.columns
    - if @events.present?
      - @events.each do |event|
        %h3
          %strong= link_to event.name, occasion_event_path(@occasion,event)
        %p= event.description
        %hr
      %p.text-center=link_to "Add an event!", new_occasion_event_path(@occasion)
    -else 
      %p.text-center
        You have no events.
        =link_to "Add an event!", new_occasion_event_path(@occasion)