%h2.form-h2
  Guest List
  %small="#{pluralize(@guests.count, 'invitation')}"

-if @guests.present?
  - @guests.each do |guest|
    %p=link_to guest.invite_name, occasion_invitations_path(@occasion, guest_id: guest), data: {remote: true}
- else    
  %p.text-center
    -if current_user.contacts.present?
      No guests invited. Select or add an event, and invite guests!
    -else 
      You have no contacts.
      = link_to "Add contacts!", user_omniauth_authorize_path(:facebook), :class => "btn btn-primary pull-right", data: {:toggle=> "modal", :target=>"#myModal"}
      