-if @guests.present?
  %p
    - @guests.each do |guest|
      .row
        .small-12.columns
          =link_to guest.household_name, occasion_invitations_path(@occasion, guest_id: guest), data: {remote: true, "reveal-id" => "myModal"}
- else
  .row
    .small-12.columns
      %p.text-center
        -if current_user.contacts.present?
          No guests invited. Select or add an event and invite guests!
        -else 
          You have no contacts.
          = link_to "Add contacts!", user_omniauth_authorize_path(:facebook), :class => "btn btn-primary pull-right", data: {:toggle=> "modal", :target=>"#myModal"}
      