.row
  .col-xs-offset-3.col-xs-6
    %h1 Edit Occasion
  
    = render 'form'
        
    .panel.panel-default      
      .panel-heading
        %h4.panel-title Delete occasion
      .panel-body
        = link_to "Delete Occasion", @occasion, method: :delete, class: "btn btn-danger"
      
