.container
  %h1 Guestbook
  
  %ul.list-group
    - if @invitations.present?
      - @invitations.each do |invite|
        %li.list-group-item
          %strong= link_to invite.household.name, edit_occasion_invitation_path(@occasion, invite)
          %span.text-muted says:
          =invite.message
          %br
          %small="#{time_ago_in_words(invite.updated_at)} ago"
    - else
      %li.list-group-item.text-center
        %strong No one has left you a message yet!