.content-full
  =link_to "Add occasion", new_occasion_path, :class => "btn btn-primary form-btn pull-right"

  %h1 
    All of your occasions
    %br
    %small Select one to see more details
  - if @occasions.present?
    - @occasions.each do |occasion|
      .btn-group.pull-right
        = link_to "<span class='glyphicon glyphicon-pencil'></span>".html_safe, edit_occasion_path(occasion),class: "btn btn-link btn-lg info-btn", data: {container: 'body', content: "edit this occasion", trigger: "hover", toggle: "popover"}
        = link_to "<span class='glyphicon glyphicon-trash'></span>".html_safe, occasion, method: :delete, data: {confirm: 'Are you sure you want to delete this occasion?'},class: "btn btn-link btn-lg info-btn", data: {container: 'body', content: "delete this occasion", trigger: "hover", toggle: "popover"}

      %h3
        %strong=link_to occasion.name, occasion
      %p.subheader= occasion.description
      %hr
    %p.text-center=link_to "Add another occasion!", new_occasion_path
  -else
    %p.text-center
      You have no occasions.
      =link_to "Add an occasion!", new_occasion_path