.row
  .col-xs-3
    .list-group
      =link_to "Address Book", address_book_path, class:"list-group-item"
      =link_to "Occasions", occasions_path, class:"list-group-item active"
      =link_to "Account Information", edit_user_registration_path, class:"list-group-item" 
      %br
      =link_to "Add a new occasion", new_occasion_path, class: "btn btn-success btn-block"
      
  .col-xs-9
  
    .panel.panel-default
      .panel-heading
        %h3.panel-title.panel-page-title Occasions

      - if @occasions.present?
        .list-group
          - @occasions.each do |occasion|
            .list-group-item
              %h4.list-group-item-heading=link_to occasion.name, occasion
              %p.list-group-item-text
                =occasion.description
                = link_to "Edit", edit_occasion_path(occasion)
    
      -else
        .panel-body
          .text-center
            %h3 You have no occasions.
            =link_to "Add a new occasion!", new_occasion_path