.content-full
  .content-nav
    %ul.list-inline
      %li=@occasion.name
      %li=link_to "Recent Activity", @occasion, style: "font-weight:bold;"
      %li=link_to "Events", occasion_events_path(@occasion)
      %li=link_to "Invitations", occasion_invitations_path(@occasion)
    
  .content-header
    %h2 Recent Activity
    .pull-right
      = link_to 'Invite more guests', new_occasion_invitation_path(@occasion), :class => "btn btn-primary form-btn"
      = link_to 'Add events', new_occasion_event_path(@occasion), :class => "btn btn-primary form-btn"
  .content-body
    -@occasion.invitations.each do |invitation|
      %p
        -if (invitation.updated_at != invitation.created_at)
          %strong="#{Contact.find(invitation.contact_id).household_name} has responded:"

        
= render "layouts/modal"
