.content-full
  .content-nav
    %ol.breadcrumb
      %li=link_to @occasion.name, @occasion
      %li.active Recent Activity

  .content-header
    %h1 Recent Activity
  .content-body

    .row
      .col-xs-3
        .list-group
          =link_to "Recent Activity", @occasion, class:"list-group-item active"
          =link_to occasion_events_path(@occasion), class:"list-group-item" do
            Events
            %span.badge=@occasion.events.count
          =link_to occasion_invitations_path(@occasion), class:"list-group-item" do
            Invitations
            %span.badge=@occasion.invitations.count
        .btn-group-vertical.btn-block
          = link_to 'Invite more guests', new_occasion_invitation_path(@occasion),class: "btn btn-primary"
          = link_to 'Add events', new_occasion_event_path(@occasion), :class => "btn btn-primary"
      .col-xs-9
        .well.text-center
          %h3 No updates just yet. 
          
= render "layouts/modal"
