.jumbotron
  .container
    %h1=@occasion.name
    %p#description=@occasion.description

.container
  %h2 Guest Information
  = form_for [@occasion,@invitation], :html => {:role =>"form"} do |f|  
    = render "invitations/form", :f => f
