%ul.nav.nav-pills
  %li.active
    =link_to @occasion do
      Recent Activity
  %li
    =link_to occasion_events_path(@occasion) do
      Events
      %span.badge=@occasion.events.count
  %li
    =link_to occasion_invitations_path(@occasion) do
      Guests
      %span.badge=current_user.guests.count


%h1 Recent Activity
  
.well.text-center
  %h3 No updates just yet.