.jumbotron
  .container.text-center
    %h1=@occasion.name
    %p#description=@occasion.description
    = link_to "Send me an invitation!", new_occasion_invitation_path(@occasion), class: "btn btn-success"
    = link_to "I want to RSVP", "#", disabled: true, class: "btn btn-primary"
- if user_signed_in? && @occasion.user_id = current_user.id
  .container
    .row
      .col-sm-6
        = render "events"
      .col-sm-6
        = render "guestbook"